

/*---------------------
General Styles
-----------------------*/

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
body {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 20px;
  color: #fff !important;
  height: 100% !important;
  background-color: #eaeaea !important;
  text-align: center !important;
}
.container{
  width:960px!important;
  margin-bottom: 30px;
  position:relative;
}
.wrap {
  height:100%;
  padding-bottom:40px;
}
.aside {
  top:14px;
  right:0px;
  position:absolute;
}
form {
  padding-top: 5px !important;
}
input {
  float: right;
  border: none !important;
}
.search-area {
  padding-top: 5px !important;
  margin-right: 118px !important;
  margin-top: 20px;
  width: 180px;
  color: #000;
  background-color: #fff !important;
  border: none !important;
  background-image: url(../img/Icon.png);
  background-repeat:repeat-x;
}

/*---------------------
Typography
-----------------------*/

h1, h2, h3{
  font-weight:300;
  margin: 0px;
  line-height: 45px;
}
h4, h5, h6{
  font-weight: bold;
  margin: 5px, 0px, 5px, 0px;
}
h1{
  font-size: 55px !important;
  font-family: 'Roboto' !important;
  font-weight: 100 !important;
  display:block !important;
  line-height: 1 !important;
  color: #fff;
}
h2{
  font-size: 24px;
}
h3 {
  font-family: 'Roboto' !important;
  font-weight: 100 !important;
  font-size: 5.125rem !important;
  color: #fff !important;
  margin: 0px !important;
  text-align: center !important;
  display:block !important;
}
h4 {
  font-size: 18px;
  margin: 10px,0px, 10px, 0px;
  font-weight: bold;
}	
h5{
  font-size: 13px;
  margin: 0px;
  text-transform: uppercase;
}
p {
  display: block;
  font-size: 16px !important;
  font-weight: 300 !important;
  font-height: 24px !important;
  margin: 30px !important;
  margin-top: -20px !important;
}

/*---------------------
Buttons
-----------------------*/

.btn {
  padding: none!important;
}
a.btn.btn-download {
  margin-left: auto;
  margin-right: auto;
  top:50%; 
  left:50%;
}
.btn-download-continue {
  background: #fff;
  float:right;
  font-size: 18px !important;
  font-weight: 400 !important;
  border-radius: 4px !important;
  text-shadow: 0 !important;
  color: #222;
  border: 1px solid #222;
  border-radius:0px !important;
  padding:11px;
  margin-left:  auto;
  margin-right: 10px;
  -webkit-transition: all ease 0.25s;
  transition: all ease 0.25s;
}
.btn-download {
  background: #fff;
  font-size: 18px!important;
  font-weight: 400 !important;
  border-radius: 4px !important;
  text-shadow: 0 !important;
  color: #ffffff;
  border: none;
  margin-left:  auto;
  margin-right: auto;
  -webkit-transition: all ease 0.25s;
  transition: all ease 0.25s;
}
.call-to-action .btn-download a:hover {
  color: #fff!important;
}
.btn-download  a:active {

  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0,8) inset;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0,8) inset;
  box-shadow: 0 0 5px rgba(0,0,0,0,8) inset;
}	

#continue-reading {
  height:60px;
}

.btn-reply {
  background: #fff;
  float:right;
  font-size: 18px !important;
  font-weight: 400 !important;
  border-radius: 4px !important;
  text-shadow: 0 !important;
  color: #222 !important;
  border: 1px solid #222;
  border-radius:0px !important;
  padding:11px;
  margin-left:  auto;
  margin-right: 10px;
  -webkit-transition: all ease 0.25s;
  transition: all ease 0.25s;
}


/*---------------------
Layout
-----------------------*/

header{
  background-color: #434A4D
}

.sidebar {
  margin-top:-200px;
}

/*---------------------
logo
-----------------------*/
#logo {
  padding-top: 15px;
}

#logo img {
  background-color: #fff;
  width:100%;
}
/*---------------------
Portrait
-----------------------*/

#portrait {
  margin-top: 25px;
}
#portrait img {
  width:100%;
}
/*---------------------
Intro
-----------------------*/

#intro {
  margin-left: auto;
  background-color: #56c2b6;
  width: 100%;
  height:140px;
}

#intro h3 {
  color: #fff !important;
  font-weight: 400!important;
  font-size: 20px !important;
  padding-top:15px;
}

#intro p {
  font-size: 15px !important;
  margin:0px !important;
  padding-left:15px;
  padding-top:15px;
}

#mobile-aside #intro {
  margin-left: auto;
  background-color: #56c2b6;
  width: 100%;
  height:100px;
}

#mobile-aside #intro h3 {
  color: #fff !important;
  font-weight: 400!important;
  font-size: 20px !important;
}

#mobile-aside #intro p {
  font-size: 15px !important;
  margin:0px !important;
  padding-top:0px !important;
}

#about-image {
  height: 600px;
  text-align:center;
}


/*---------------------
search bar
-----------------------*/
#search {
  background-color: #fff !important;
  margin-left: auto;
  width: 100%;
  height: 55px;
  padding-left:10px;
  margin-top: 25px;
  padding-top: 5px !important;
  margin-top: 20px;
  color: #000;
  border: none!important;

}

#search input {
  padding-left:10px;
  float:none!important;
  width:95%;
  background-image: url(../img/Icon.png);
  background-repeat:no-repeat;
  background-position:right;
}

/*---------------------
Categories
-----------------------*/


#category-1 {
  margin-left: auto;
  background-color: #56c2b6;
  height: 79px;
  width:100%;
  padding-top: 30px;
  margin-top: 25px;
}

#category-2 {
  background-color: #1f929a !important;
  margin-left: auto;
  width: 100%;
  height: 79px;
  padding-top: 30px;
  margin-top: 25px;
}

#category-3 {
  background-color: #868d88 !important;
  margin-left: auto;
  width: 100%;
  height: 79px;
  padding-top: 30px;
  margin-top: 25px;
}

#category-4 {
  background-color: #97ca3d !important;
  margin-left: auto;
  width: 100%;
  height: 79px;
  padding-top: 30px;
  margin-top: 25px;
  margin-bottom:65px;
}


#category-1 h2 {
  margin-top: 0px !important;
  font-family: 'Roboto';
  font-size: 18px;
}

#category-2 h2 {
  margin-top: 0px !important;
  font-family: 'Roboto';
  font-size: 18px;
}
#category-3 h2 {
  margin-top: 0px !important;
  font-family: 'Roboto';
  font-size: 18px;
}
#category-4 h2 {
  margin-top: 0px !important;
  font-family: 'Roboto';
  font-size: 18px;
}

#mobile-aside #category-1 {
  margin-left: auto;
  background-color: #56c2b6;
  height: 79px;
  width:100%;
  padding-top: 30px;
  margin-top: 25px;
}

#mobile-aside #category-2 {
  background-color: #1f929a !important;
  margin-left: auto;
  width: 100%;
  height: 79px;
  padding-top: 30px;
  margin-top: 25px;
}

#mobile-aside #category-3 {
  background-color: #868d88 !important;
  margin-left: auto;
  width: 100%;
  height: 79px;
  padding-top: 30px;
  margin-top: 25px;
}

#mobile-aside #category-4 {
  background-color: #97ca3d !important;
  margin-left: auto;
  width: 100%;
  height: 79px;
  padding-top: 30px;
  margin-top: 25px;
  margin-bottom:65px;
}


#mobile-aside #category-1 h2 {
  margin-top: 0px !important;
  font-family: 'Roboto';
  font-size: 18px;
}

#mobile-aside #category-2 h2 {
  margin-top: 0px !important;
  font-family: 'Roboto';
  font-size: 18px;
}
#mobile-aside #category-3 h2 {
  margin-top: 0px !important;
  font-family: 'Roboto';
  font-size: 18px;
}
#mobile-aside #category-4 h2 {
  margin-top: 0px !important;
  font-family: 'Roboto';
  font-size: 18px;
}

/*---------------------
Blog
-----------------------*/

#blog-sidebar {
  height:100%;
  margin-right:-30px;
  margin-top:0px;
  background-color: #434A4D;
  width:15%;
  float:left;
  position: relative;
  z-index: 1;
}

#blog-sidebar h3 {
  font-size:12px;
  font-weight:600!important;

}


.blog-text {
  background-color:#fff;
  color:#222;
  text-align:center;
  margin-top:30px;
  height:100%;
}

.blog-text h1 {
  font-weight:bold!important;
  font-family: helvetica!important;
  font-size:45px!important;
  text-align:left!important;
  margin-left:105px!important;
}

.blog-text h3 {
  color:#fff;
  font-weight:bold !important;
  font-size:12px !important;
  text-align:center !important;
  margin-left: 0px !important;
  padding-top: 5px;
  z-index: 2;
}

.blog-text p {
  padding-top: 25px;
  text-align:left !important;
  margin-left:105px !important;
}

#continue-reading {
  margin-right:10px;
  height:65px;
}


#blog-image img {
  float:right;
}

#blog-sidebar ul {
  list-style:none;
  margin-top:70px;
  padding: 0px;
  vertical-align:bottom;
}

#blog-sidebar ul li {
  list-style:none;
  display:block;
  vertical-align:bottom;
}
#blog-sidebar ul li p {
  margin-left:0px !important;
  color:#fff !important;
  padding-top:0px !important;
  margin-top:5px !important;
  font-size:12px !important;
  margin-left:0px !important;
  margin-right:0px !important;
  margin-bottom:0px !important;
  text-align:center !important;
}

#blog-sidebar ul li h3 {
  position:relative !important;
  text-align:center !important;
}


#blog-sidebar ul li img {
  padding-top:8px;
  padding-bottom:3px;
}



#blog-image {
  height: 207px;
}

/*---------------------
Comments
-----------------------*/

.comments{
  color:#222;
  text-align:center;
  margin-top:30px;
  height:100%;
  position:relative;
  margin-bottom: 85px;
}
#comment-top {
  background-color: #434A4D;
  height:100%;
}
#comment img {
  position:relative;
  top:0;
  left:0;
  width:25%;
}
#comment-top h2 {
  color:#fff;
  font-size:16px !important;
  font-family:'Roboto';
  padding-top:15px;
  padding-bottom:15px;
  text-align:left;
  margin-left:10px;
}
#comments-text {
  background-color:#fff;
  width: 75%;
  float: right;
}
#comments-text h3 {
  font-weight:bold !important;
  font-size:16px !important;
  font-family:'Roboto' !important;
  color:#434a4e !important;
  text-align:left !important;
  margin-left:12px !important;
  margin-top:12px !important;
}
#comments-text h4 {
  font-size:13px!important;
  font-family:'Roboto' !important;
  color:#434a4e !important;
  text-align:left !important;
  margin-left:12px !important;
  margin-top:12px !important;
}
#comments-text p {
  font-size:12px!important;
  font-family:'Roboto' !important;
  color:#434a4e !important;
  text-align:left !important;
  margin-top:15px !important;
  padding-top:10px !important;
}




#blog-image {
  height: 207px;
}



/*---------------------
Global Styles
-----------------------*/

.body {
  background-color: #434A4D;
}

.clearfix:before,
.clearfix:after {
  content:"";
  display: table;
}

.clearfix:after {
  clear:both;
}

.clearfix {
  zoom: 1;
}


/*---------------------
Footer
----------------------*/

aside {
  float: right;
  padding-right: 5px;
  margin-top:-600px;
}
.end-of-page p {
  float: left;
  width: 280px;
}
.copyright {
  color: #808080;
  font-weight: 400 !important;
  padding-top: 50px;
  margin-bottom: 50px !important;
  text-align: center;
}
form {
  display: inline;
} 
input {
  margin-bottom: -8px !important;
  height: 50px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
textarea {
  margin-top: 10px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background: #444 !important;
  width: 50% !important;

}
footer {
  background-color: #434A4D;
  width: 100%;
  height:60px;
  margin-top: 80px;
  position: fixed;
  clear: both;
  bottom: 0;
  z-index:99;
}
#footer-text-first {
  float: left;
  padding: 0;
  margin: auto;
}
#footer-text-first p {
  padding-top: 20px !important;
  margin-top: 0px !important;
  font-size: 12px !important;
}
#footer-text-second {
  float: right;
  padding: 0;
  margin: auto;
}
#footer-text-second p {
  padding-top: 20px !important;
  margin-top: 0px !important;
  font-size: 12px !important;
}

.back-to-top {
  position: fixed;
  bottom: 2em;
  right: 0px;
  text-decoration: none;
  color: #fff;
  background-color: #56c2b6;
  font-size: 12px;
  padding: 1em;
  display: none;
}
.back-to-top:hover {    
  background-color: #222;
  text-decoration: none;
  color: #efefef;
}


/*---------------------
Navigation
-----------------------*/
.navigation {
  width: 100%;
  background-color: #434A4D;
  height: 43px;
}
#first-navbar {
  float:left;
}
#second-navbar {
  float:right;
}
#first-navbar nav ul li a {
  padding-bottom: 17px;
}
#second-navbar nav ul  {
}
nav ul {
  margin: 0;
  padding:0;
  float: left;
  width: 100%;
  background-color: #434A4D;
}
nav ul li {
  list-style:none;
  float: left;
}
header #first-navbar nav ul li a {
  display:inline;
  width: 100%;
  color: #fff;
  text-decoration:none;
  font-family: 'Roboto'!important;
  font-weight:400;
  font-size: 14px;
  padding: 9px;
  padding-bottom: 1px;
  padding-top: 12px;
  margin-top: -4px;
  float: left;
  border-left: solid 1px, #333;
}
header #second-navbar nav ul li a {
  display:inline;
  width: 100%;
  color: #fff;
  text-decoration:none;
  font-family: 'Roboto'!important;
  font-weight:400;
  font-size: 16px;
  float: right;
  border-left: solid 1px, #333;
}
#second-navbar ul li a img {
  width:100%!important;
  margin-top: 5px;
}
header nav ul li a:hover {
  color: #efefef;
  text-decoration: none;
}
header nav ul li a:active {s
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0,8) inset;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0,8) inset;
  box-shadow: 0 0 5px rgba(0,0,0,0,8) inset;
}	
.navbar {
  margin-bottom:0px!important;
}
.navbar-toggle {
  float:left!important;
}
.navbar-collapse {
width:100%!important;
box-shadow:none!important;
}


/*---------------------
Media Queries
-----------------------*/


@media (max-width:768px) {

.container {
  width: 100%!important;
}
}

@media (min-width:991px) {
  #mobile-aside {
    display:none;
  }
}

@media (max-width:991px) {

.container {
  width: 100%!important;
}
.container {
  width: 100%!important;
}
.aside {
  display:none;
}
nav ul {
  width:100%;
}
header nav ul li a  {
  font-size: 10px;
}
#logo {
  display:none;
}
#Download-button {
  margin-bottom: 20px;
}
a.btn.btn-download {
  max-width: 50%;
  font-size: 12px!important;
  margin-top: -89px;
}
#second-navbar ul li a img {
  width:100%!important;
  margin-top: 6px;
}
html {
  -webkit-text-size-adjust: none;
}  
p {
  font-size: 12px !important;
  padding-top: 74px;
}
textarea {
  width: 100% !important;
}
input{
  width: 100% !important;
}
.copyright {
  margin-top: 100px !important;
  padding: 1px;
}
aside {
  margin-top: 30px;
  padding: 1px;
  float:none!important;
}
.col-md-8 {
  padding-left:0px!important;
  padding-right:0px!important;
}
.navbar-collapse {
  border-top:none!important;
}
#first-navbar {
  float:left;
}
#second-navbar {
  float:right;
}
.blog-text {
  width:100%;
}
.blog-text h1 {
  margin-top: 150px;
  font-size: 30px!important;
  margin-left: 220px!important;
}
.blog-text p {
  margin-top:12px!important;
  margin-left:220px!important;
  text-align:justify!important;
  font-size:14px!important;
}
.btn-download-continue {
  width:25%;
  font-size:10px!important;
  margin-top: -50px;
}
#blog-image img {
  width:85%;
}
.blog-text h3 {
  font-size:14px!important;
  margin-left:4px!important;
}
#portrait {
  float:none!important;
}
#portrait img {
  margin-right:0px;
  width:100%;
  margin-left:0px;
}
#intro {
  width:100%;
  margin-right:0px;
}
#search {
  display:none;
}
#mobile-search input {
  padding-left:10px;
  float:none!important;
  width:95%;
  background-image: url(../img/Icon.png);
  background-repeat:no-repeat;
  background-position:right;
}
#category-1 {
  width:100%;
  margin-right:0px;
}
#category-2 {
  width:100%;
  margin-right:0px;
}
#category-3 {
  width:100%;
  margin-right:0px;
}
#category-4 {
  width:100%;
  margin-right:0px;
}
footer {
  margin-top:85px;
}

}



@media (max-width:768px) {

.container {
  width: 100%!important;
}

nav ul {
  width:100%;
}

header nav ul li a  {
  font-size: 10px;
}

#first-navbar nav ul li {
  float:none;
  display:block;
}
#logo {
  display:none;
}

#Download-button {
  margin-bottom: 20px;
}


a.btn.btn-download {
  max-width: 50%;
  font-size: 12px!important;
  margin-top: -89px;
}


#second-navbar ul li a img {
  width:100%!important;
  margin-top: 6px;
}

html {
  -webkit-text-size-adjust: none;
}  


p {
  font-size: 12px !important;
  padding-top: 74px;
}


textarea {
  width: 100% !important;
}

input{
  width: 100% !important;
}

.copyright {
  margin-top: 100px !important;
  padding: 1px;
}

aside {
  margin-top: 30px;
  padding: 1px;
  float:none!important;
}
.col-md-8 {
  padding-left:0px!important;
  padding-right:0px!important;
}

.navbar-collapse {
  border-top:none!important;
}
#first-navbar {
  float:left;
}

#second-navbar {
  float:right;
}

.blog-text {
  width:100%;
}
.blog-text h1 {
  margin-top: 80px;
  font-size: 30px!important;
  margin-left: 120px!important;
}
.blog-text p {
  margin-top:-10px!important;
  margin-left:120px!important;
  text-align:justify!important;
  font-size:14px!important;
}

.btn-download-continue {
  width:25%;
  font-size:10px!important;
  margin-top:2px!important;
}

#blog-image img {
  width:85%;
}
#blog-sidebar h3 {
  margin-left:10px!important;
}

.blog-text h3 {
  font-size:9px!important;
  margin-left:4px!important;
}

#portrait {
  float:none!important;
}

#portrait img {
  margin-right:0px;
  width:100%;
  margin-left:0px;
}
#intro {
  width:100%;
  margin-right:0px;
}

#search {
  display:none;
}


#mobile-search input {
  padding-left:10px;
  float:none!important;
  width:95%;
  background-image: url(../img/Icon.png);
  background-repeat:no-repeat;
  background-position:right;
}

#category-1 {
  width:100%;
  margin-right:0px;
}

#category-2 {
  width:100%;
  margin-right:0px;
}

#category-3 {
  width:100%;
  margin-right:0px;
}
#category-4 {
  width:100%;
  margin-right:0px;
}

footer {
  margin-top:85px;
}

}



@media (min-width: 320px) and (max-width: 480px) {


.container {
  width: 100%;
}

nav ul {
  width:100%;
}

header nav ul li a  {
  font-size: 10px;
}

	  

#logo {
  display:none;
}

#Download-button {
  margin-bottom: 20px;
}


a.btn.btn-download {
  max-width: 50%;
  font-size: 12px!important;
  margin-top: -89px;
}


#second-navbar ul li a img {
  width:100%!important;
  margin-top: 6px;
}

html {
  -webkit-text-size-adjust: none;
}  


p {
  font-size: 12px !important;
  padding-top: 74px;
}


textarea {
  width: 100% !important;
}

input{
  width: 100% !important;
}

.copyright {
  margin-top: 100px !important;
  padding: 1px;
}

aside {
  margin-top: 30px;
  padding: 1px;

}
.col-md-8 {
  padding-left:0px!important;
  padding-right:0px!important;
}

.navbar-collapse {
  border-top:none!important;
}
#first-navbar {
  float:left;
}

#second-navbar {
  float:right;
}
#mobile-Logo {
  width:100%;
}

#mobile-Logo img {
  width:100%;
}


.blog-text {
  width:100%;
}
.blog-text h1 {
  margin-top:-10px;
  font-size: 25px!important;
  margin-left: 20px!important;
}
.blog-text p {
  margin-top:-10px!important;
  margin-left:20px!important;
  text-align:justify!important;
}

.btn-download-continue {
  width:40%;
  font-size:10px!important;
  margin-top:20px!important;
}

#blog-image img {
  width:100%!important;
}
#blog-sidebar {
  display:none;
}

.blog-text h3 {
  font-size:10px!important;
  margin-left:2px!important;
}

#portrait {
  float:none!important;
}

#portrait img {
  margin-right:0px;
  width:100%;
  margin-left:0px;
}
#intro {
  width:100%;
  margin-right:0px;
}

#search {
  display:none;
}

#mobile-search {
  width:100%!important;
  background-color: #fff !important;
  margin-left: auto;
  height: 55px;
  padding-left:10px;
  padding-top: 5px !important;
  width: 84.5%;
  color: #000;
  border: none!important;
}

#mobile-search input {
  padding-left:10px;
  float:none!important;
  width:95%;
  background-image: url(../img/Icon.png);
  background-repeat:no-repeat;
  background-position:right;
}

#category-1 {
  width:100%;
  margin-right:0px;
}

#category-2 {
  width:100%;
  margin-right:0px;
}

#category-3 {
  width:100%;
  margin-right:0px;
}
#category-4 {
  width:100%;
  margin-right:0px;
}

footer {
  margin-top:85px;
}

}


@media (max-width:480px) {

.container {
  width:100%!important;
}

}

@media (min-width:480px) {
#mobile-Logo {
  display:none;
}

#mobile-search {
  display:none;
}
}












	
  
