
      <div class="aside">
          <div id="logo">
        	  <img src="img/final_logo.png">
          </div>	
   
          <div id="portrait">
        	  <img src="img/Portrait.jpg">
          </div>

          <div id="intro">
        	  <h3><i>"Refinement in Process"</i></h3>
        	  <p>I'am Lee Button. cumque velignis rerum <br>coribusae ditatur aborem inctoribus<br> eic te consed quodi blau</p>
          </div>
      
          <div id="search">
            <input type="text" name="E-Mail" placeholder="Search"  size="45"/>
          </div>
   
          <div id="category-1">
            <h2>CATEGORY 1</h2>
          </div><!--end category-1-->
    
          <div id="category-2">
            <h2>CATEGORY 2</h2>
          </div><!--end category-1-->

          <div id="category-3">
            <h2>CATEGORY 3</h2>
          </div><!--end category-1-->
   
          <div id="category-4">
            <h2>CATEGORY 4</h2>
          </div><!--end category-1-->
     </div>     
</div>     
     
      <div class="col-md-4">
        <div id="mobile-aside">
        
          <div id="logo">
        	  <img src="img/Final-logo.PNG">
          </div>	
   
          <div id="portrait">
        	  <img src="img/Portrait.jpg" width="100%">
          </div>

          <div id="intro">
        	  <h3><i>"Refinement in Process"</i></h3>
        	  <p>I'am Lee Button. cumque velignis rerum <br>coribusae ditatur aborem inctoribus <br>eic te consed quodi blau</p>
          </div>
      
          <div id="search">
            <input type="text" name="E-Mail" placeholder="Search"  size="45"/>
          </div>
   
          <div id="category-1">
            <h2>CATEGORY 1</h2>
          </div><!--end category-1-->
    
          <div id="category-2">
            <h2>CATEGORY 2</h2>
          </div><!--end category-1-->

          <div id="category-3">
            <h2>CATEGORY 3</h2>
          </div><!--end category-1-->
   
          <div id="category-4">
            <h2>CATEGORY 4</h2>
          </div><!--end category-1-->
        </div>
      </div>
      