
<div class="aside">
 
  <div id="logo">
    <img src="/img/final_logo.png">
  </div>	

  <div id="portrait">
    <img src="/img/Portrait.jpg">
  </div>

  <div id="intro">
    <h3><i>"Refinement in Process"</i></h3>
    <p>I'am Lee Button. cumque velignis rerum <br>coribusae ditatur aborem inctoribus<br> eic te consed quodi blau</p>
  </div>

  <div id="search">
    <div style="float: left;"><input type="text" id="tipue_search_input" size="45" placeholder="Search"></div>
  </div>

  <div id="category-1">
    <a href="/category1"><h2>CATEGORY 1</h2></a>
  </div><!--end category-1-->

  <div id="category-2">
    <a href="/category2"><h2>CATEGORY 2</h2></a>
  </div><!--end category-1-->

  <div id="category-3">
    <a href="/category3"><h2>CATEGORY 3</h2></a>
  </div><!--end category-1-->

  <div id="category-4">
    <a href="/category4"><h2>CATEGORY 4</h2></a>
  </div><!--end category-1-->
</div><!--end aside-->    

<div class="col-md-4">
  <div id="mobile-aside">

    <div id="logo">
      <img src="/img/final-logo.png">
    </div>	

    <div id="portrait">
      <img src="/img/Portrait.jpg" width="100%">
    </div>

    <div id="intro">
      <h3><i>"Refinement in Process"</i></h3>
      <p>I'am Lee Button. cumque velignis rerum <br>coribusae ditatur aborem inctoribus <br>eic te consed quodi blau</p>
    </div>

    <div id="search">
      <div style="float: left;"><input type="text" id="input" size="45" placeholder="Search"></div>
    </div>

    <div id="category-1">
      <a href="/category1"><h2>CATEGORY 1</h2></a>
    </div><!--end category-1-->

    <div id="category-2">
       <a href="/category2"><h2>CATEGORY 2</h2></a>
    </div><!--end category-1-->

    <div id="category-3">
      <a href="/category3"><h2>CATEGORY 3</h2></a>
    </div><!--end category-1-->

    <div id="category-4">
      <a href="/category4"><h2>CATEGORY 4</h2></a>
    </div><!--end category-1-->
  </div><!--end mobile aside-->
</div><!--end col md 4-->
      