<header>
    <div class= "container">
      <div class="navigation">	

        <div id="first-navbar">	  
          <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
             <button type="button" class="navbar-toggle" data-toggle="collapse" 
                data-target="#example-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
             </button>

            <a class="navbar-brand" href="#"></a>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
               <ul class="nav navbar-nav">
                  <li class="active"><a href="/index.html">HOME</a></li>
                  <li><a href="/about">ABOUT</a></li>
                  <li><a data-scroll href="/contact">CONTACT</a></li>
               </ul>
             </div><!--end collapse navbar-->
            </div><!--navbar header-->
          </nav><!--end navbar-->
        </div>


        <div id="second-navbar">
          <nav>	
            <ul>
              <li><a href="http://www.twitter.com" ><img src="/img/Twitter.png" alt="twitter icon"></a></li>
              <li><a href="http://www.facebook.com" ><img src="/img/Facebook.png" alt="facebook icon"></a></li>
              <li><a href="http://www.google.com" ><img src="/img/Google.png" alt="google icon"></a></li>
              <li><a href="http://www.rss.com" ><img src="/img/Rss.png" alt="rss icon"></a></li>
            </ul>
          </nav>
        </div><!--end nav-container-->
      </div>
    </div>

</header>