<!DOCTYPE html>
<html>

  {% include head-about.html %}

    <body>

    {% include header-about.html %}

    <div class="page-content">
      <div class="wrap">
        {{ content }}
        {% include mobile-aside.html %}
        {% include aside-about.html %}
      </div>
    </div>

    {% include footer.html %}
    
    <script>
    $(document).ready(function() {
    $('#tipue_search_input').tipuesearch({
    'show': 10,
    'newWindow': true,
    'mode': 'live',
    'highlightEveryTerm' : true,
    'highlightTerms' : true,
    'liveDescription': '*',
    'liveContent': '*'
    });
    });
    </script>
    
    

    </body>
</html>