---
layout: default
---
<div class="comments">
  <div id="comment-top">
    <h2><b>6 Comments to:</b> Standard theme post one</h2>
  </div><!--end comment top-->

  <div id="comment">
      <img src="img/Portrait.jpg">
    <div id="comments-text">
      <h3>Lee Button</h3>
      <h4>May 24 2013</h4>
      <p>Obitat lam, cumque velignis rerum coribusae ditatur aborem inctoribus eic te consed quodi blaborum rest.</p>       
    </div><!--end comments text-->
  </div><!--end comment-->
</div><!--end comments-->